@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<blog_web.Models.Post>

@{
    ViewData["Title"] = "Quản lý Bài Viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Trang Bài Viết</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                <a class="breadcrumb-item" asp-action="Create">Create</a>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group mg-b-10-force">
                <select class="form-control select2" id="catID" name="catID" asp-items="@ViewBag.DanhMuc">
                    <option label="LỌC THEO DANH MỤC"></option>
                    <option value="ALL">All</option>
                </select>
            </div>
        </div>

        <div class="col-lg-6">
            <input class="form-control" placeholder="Tìm kiếm bài viết" type="text" id="keyword" name="keyword" 
                   value="@ViewBag.keyword">
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-colored ">
            <thead>
                <tr>
                    <th class="wd-5p">ID</th>
                    <th class="wd-20p">Title</th>
                    <th class="wd-10p">Danh mục</th>
                    <th class="wd-10p">Public</th>
                    <th class="wd-40p">#</th>

                </tr>
            </thead>
            <tbody id="records_table">
                @foreach (var item in Model)
                {
                    string url = $"/{item.Alias}.html";
                    string url1 = $"/{item.Cat.Alias}";
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PostId)</td>

                        <td><a href="@url">@item.Title</a></td>

                        <td><a href="@url1"> @item.Cat.CatName</a></td>

                        <td>
                            @if (item.Published == true)
                            {
                                <span class="badge  badge-primary">Public</span>

                            }
                            else
                            {
                                <span class="badge badge-warning">NON-Public</span>
                            }
                        </td>
                        <td>
                            <a href="@url" target="_blank" class="btn btn-warning">View</a> |
                            <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-secondary">Edit</a>|
                            <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-success">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="pager-container" list="@Model"
                       options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-action="Index"
                       asp-controller="Posts" asp-route-page="@ViewBag.CurrentPage" asp-route-catid="@ViewBag.DanhMuc_ID"
                       asp-route-keyword="@ViewBag.keyword" />
            </ul>
        </div>
    </div>
</div>


@section Scripts_Admin {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var timer;
            $('#keyword').on('keyup', function () {
                clearTimeout(timer);
                timer = setTimeout(function () {
                    LiveSearch();
                }, 2000);
            })

            jQuery("#catID").change(function () {
                LiveSearch()
            });

            function getUrlParameter(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            function LiveSearch() {
                var strkeyword = $('#keyword').val();

                var _catID = $('#catID').val();
                catid = parseFloat(_catID);

                if (_catID == "")
                {
                    var qsp = 'catID';
                    catid = getUrlParameter(qsp);
                }

                $.ajax({
                    type: "GET",
                    url: '/Admin/Posts/Filter',
                    datatype: "json",
                    data: {
                        keyword: strkeyword,
                        catID: catid,
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            };
        });
    </script>
}
