@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<blog_web.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container-xl">
        <div class="text-center">
            <h1 class="mt-0 mb-2">@ViewBag.danhmuc</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="main-content">
    <div class="container-xl">

        <div class="row gy-4">

            <div class="col-lg-8">

                <div class="row gy-4">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = item.Alias + ".html";
                            <div class="col-sm-6">
                                <!-- post -->
                                <div class="post post-grid rounded bordered" style="height:100%">
                                    <div class="thumb top-rounded">
                                        <a href="/@item.Cat.Alias" class="category-badge position-absolute">@item.Cat.CatName</a>
                                        <img class="post-format" src="@item.Cat.Cover" style="border-radius: 50%;">
                                        <a href="blog-single.html">
                                            <div class="inner">
                                                <img src="@item.Thumb" alt="post-title">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item"><a href="#"><img src="~/UserAssets/images/other/author-sm.png" class="author" alt="author">@item.Author</a></li>
                                            <li class="list-inline-item">@item.CreatedAt.Value.ToString("yyyy-MM-dd")</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3"><a href="/@url">@item.Title</a></h5>
                                        <p class="excerpt mb-0">@item.ShortContent</p>
                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        <div class="social-share me-auto">
                                            <button class="toggle-button icon-share"></button>
                                            <ul class="icons list-unstyled list-inline mb-0">
                                                @await Component.InvokeAsync("SocialView")
                                            </ul>
                                        </div>
                                        <div class="more-button float-end">
                                            <a href="blog-single.html"><span class="icon-options"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div>
                    <pager class="pagination justify-content-center" list="@Model"
                           options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext"
                           asp-action="List"
                           asp-controller="Posts"
                           asp-route-page="@ViewBag.CurrentPage" />

                </div>
            </div>

            <div class="col-lg-4">
                <!-- sidebar -->
                <partial name="_RightPartialView" />
            </div>
        </div>
    </div>
</section>
