@model blog_web.Data.ViewComponents.SocialVM

    <ul class="social-icons list-unstyled list-inline mb-0">
        <li class="list-inline-item"><a href="@Model.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Twitter"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Instagram"><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Pinterest"><i class="fab fa-pinterest"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Youtube"><i class="fab fa-youtube"></i></a></li>
    </ul>