@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<blog_web.Models.Account>

@{
    ViewData["Title"] = "Account-blog-web";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Account</li>
        </ol>
        <h6 class="slim-pagetitle">Account</h6>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="wd-10p">ID</th>
                    <th class="wd-20p">FullName</th>
                    <th class="wd-20p">Active</th>
                    <th class="wd-10p">Role</th>
                    <th class="wd-40p">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountId)
                        </td>
                        <td>
                            <p><span>Name: </span>@item.FullName</p>
                            <p><span>Email: </span>@Html.DisplayFor(m => item.Email)</p>
                            <p><span>Phone: </span>@Html.DisplayFor(m => item.Phone)</p>
                            <p><span>LastLogin: </span>@Html.DisplayFor(m => item.LastLogin)</p>
                        </td>
                        <td>
                            @if (item.Active == true)
                            {
                                <span class="badge  badge-primary">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">OFF</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AccountId" class="btn btn-warning">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AccountId" class="btn btn-success">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AccountId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="pager-container" list="@Model"
                       options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-action="Index"
                       asp-controller="Account" asp-route-page="@ViewBag.CurrentPage" />
            </ul>
        </div>
    </div>
</div>
